@import url("https://fonts.googleapis.com/css2?family=Kanit:wght@100;200;300;400;500;600;700&display=swap");
:root {
  --text-clr: rgb(248, 241, 228);
  --secondary: #da9f53ff;
  --primary: #bc7132ff;
  --background-clr: #001025;
  --darker: #603b26ff;
  --extra-clr: #fbc056;
  --primary-font: "Kanit", sans-serif;
  --transparent-bg: #00040799;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  scroll-behavior: smooth;
  font-family: "Kanit", sans-serif;
}
/* to Check ui  */
/* body * {
  outline: 1px solid red;
} */
body *::selection {
  color: var(--background-clr);
  background-color: var(--text-clr);
}
.primary-btn {
  padding: 10px 20px;
  text-transform: uppercase;
  font-family: var(--primary-font);
  font-weight: 600;
  font-size: 1rem;

  color: var(--text-clr);
  cursor: pointer;
  background: none;
  border: 2px solid var(--text-clr);
  transition: 0.45s;
}
.secondary-btn {
  padding: 10px 20px;
  text-transform: uppercase;
  font-family: var(--primary-font);
  font-weight: 600;
  font-size: 1rem;
  color: var(--text-clr);
  cursor: pointer;
  background: none;
  border: 2px solid var(--text-clr);
  transition: 0.45s cubic-bezier(0.215, 0.61, 0.355, 1);
  max-width: 100%;
  width: 20%;
}
.primary-btn:hover,
.secondary-btn:hover {
  background-color: var(--text-clr);
  color: var(--background-clr);
}
table {
  color: var(--text-clr);
  width: 90%;
  min-height: 400px;
  margin-inline: auto;
  /* padding: 10px 0; */
  text-transform: uppercase;
  font-weight: 400;
  border: 1px solid rgba(248, 241, 228, 0.507);
  text-align: left;
}
table tbody {
  text-align: center;
}
table tbody tr,
table thead tr {
  display: grid;
  grid-template-columns: repeat(4, 1fr) 35%;
}
table thead tr th,
table td {
  text-align: center;
}
table thead tr:nth-child(odd) {
  background-color: #00040799;
}
table tbody tr:nth-child(even) {
  background-color: #00040799;
}
table tr {
  display: block;
  padding: 20px 0;
  border-bottom: 1px double rgba(248, 241, 228, 0.5);
}

table tr td {
  display: inline-block;
  padding: 5px;
}
nav {
  background-color: transparent;
  position: relative;
  z-index: 1;
  color: var(--text-clr);
  display: flex;
  justify-content: space-between;
  position: fixed;
  top: 0;
  width: 100%;
  text-transform: uppercase;
  height: 80px;
}
.logo {
  object-fit: contain;
  background-position: center;
  background-size: contain;
  width: 50%;
  height: 100%;
  background-blend-mode: screen;
  background-color: none;
  background-repeat: no-repeat;
}
.logo a img {
  height: 100%;
  box-sizing: border-box;
  padding: 20px 0 20px 50px;
}
nav ul {
  display: flex;
  list-style: none;
  width: 50%;
  justify-content: space-between;
  align-items: center;
  margin-right: 10px;
  font-size: 0.9rem;
}
a {
  color: var(--text-clr);
  text-decoration: none;
}
main {
  width: 100%;
}
main img {
  width: 100%;
  height: 100vh;
  object-fit: cover;
  pointer-events: none;
  margin: 0 0 -6px 0;
}
main section {
  position: relative;
}

.hero-info {
  position: absolute;
  left: 2rem;
  color: var(--text-clr);
  bottom: 10rem;
}
.hero-info h3 {
  font-weight: 200;
  text-transform: uppercase;
}
.hero-info h1 {
  text-transform: uppercase;
  font-size: 3rem;
}
.capsules {
  width: 100%;
  background: rgb(139, 139, 139);
  background: radial-gradient(
    circle,
    rgba(139, 139, 139, 1) 0%,
    rgba(82, 82, 82, 1) 0%,
    rgba(58, 58, 58, 1) 0%,
    rgba(71, 71, 71, 1) 0%,
    rgba(65, 65, 65, 1) 15%,
    rgba(15, 15, 15, 1) 52%,
    rgba(0, 0, 0, 1) 100%,
    rgba(0, 0, 0, 1) 100%
  );
  background-repeat: no-repeat;
  /* display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between; */
  backdrop-filter: blur(41px);
}
span {
  color: var(--text-clr);
}
.single-capsule {
  width: 20%;
  aspect-ratio: 3/4;
  overflow: hidden;
  position: relative;
  margin: 10px;
}
.single-capsule img {
  width: 100%;
}
.capsule-data {
  position: absolute;
  color: var(--text-clr);
  bottom: 0;
  padding: 5px;
  background: linear-gradient(to bottom, #00091400, #000914);
  width: 100%;
  height: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: end;
}
.capsule-data span {
  display: block;
  font-weight: 600;
  text-transform: uppercase;
}

footer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.7rem;
  padding: 15px;
  background-color: #000407;
  color: var(--text-clr);
  font-weight: 600;
  text-transform: uppercase;
}
footer span {
  margin: 20px;
}
.page-title {
  height: 100vh;
  width: 100%;
  text-transform: uppercase;
  color: var(--text-clr);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.page-title h1 {
  font-size: 5rem;
  letter-spacing: 0.5rem;
  font-weight: 600;
}
.page-title h3 {
  font-weight: 400;
  font-size: 0.9rem;
  margin: 0;
}
.page-title svg {
  justify-self: flex-end;
}
.page-title.capsule {
  background-image: url(https://drive.google.com/u/0/uc?id=1_7cq_oY4zms80XBs2JxU3v2Nn-9V9Z8t&export=download);
  background-size: cover;
  background-position: center;
}
ul {
  display: flex;
}
ul li {
  cursor: pointer;
}
.select-box {
  padding: 10px 20px;
  font-size: 1.2rem;
  font-family: var(--primary-font);
  text-transform: uppercase;
  background-color: var(--transparent-bg);
  color: var(--text-clr);
  text-align: center;
  width: 90%;
  display: block;
  margin: 10px;
}
.pagination {
  margin-top: 40px;
  display: flex;
  justify-content: center;
  color: var(--text-clr);
}
.pagination ul {
  display: flex;
  justify-content: space-between;
  list-style: none;
}
.pagination ul li {
  padding: 10px 20px;
  border: 1px solid;
  transition: 0.35s cubic-bezier(0.23, 1, 0.32, 1);
}
.pagination ul li:hover,
.active-page {
  background-color: var(--text-clr);
  color: var(--background-clr);
}
.select-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-transform: uppercase;
  color: var(--text-clr);
}
.select-container label {
  font-size: 1.2rem;
}
